# Ignore everything
/*

# But keep these files and folders
!airfoil_comparison.py
!plots.py
!README.md
!airfoil_results.csv
!requirements.txt
!legacy/
!legacy/**
!.gitignore
!images_new
!images_new/**
