/*

!airfoil_comparison.py
!plots.py
!README.md
!airfoil_results.csv
!requirements.txt
!legacy/
!legacy/**
!.gitignore
!images_new
!images_new/**
!MODEL_SUMMARY.md
!MODEL_SUMMARY_GLS.md

.Rdata
.Rhistory